<script>
  document.addEventListener("DOMContentLoaded", function () {
    const calendarEl = document.getElementById("calendar");

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",

      events: {
        url: "/api/events",
        method: "GET",
        failure: function () {
          alert("Impossible de charger les événements.");
        },
      },
      eventClick: function (info) {
        if (info.event.extendedProps.description) {
          alert(info.event.extendedProps.description);
        }
      },
    });

    calendar.render();
  });
</script>
